@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #fbeef3;
    font-family: 'Poppins', sans-serif;
}

/* Nav menu */

nav ul{
    background-color: #73c09f;
    width: 100%;
    list-style: none;
    text-align: center;
    position: fixed;
    margin:0;
}
nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    color: black;
    background-color: rgba(247, 137, 153, 0.986);
}

/* formualrio */

.body__form {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 600px;
}

.form {
    background: #fff;
    margin: 75px auto;
    width: 90%;
    height: 100%;
    max-width: 400px;
    padding: 2.5em 3em;
    padding-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;
}



.form__title {
    font-size: 3em;
    margin-bottom: .5em;
}

.form__paragraph {
    font-weight: 300;
}

.form__link {
    font-weight: 400;
    color: black;
}

.form__container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group {
    position: relative;
    --color: #5757577e;
}

.form__input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    transform: translateY(-12px) scale(.95);
    transform-origin: left top;
    color: #73c09f;

}

.form__label {
    color: var(--color);
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit {
    background: #73c09f;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding: .8rem 0;
    border: none;
    border-radius: 0.5rem;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #73c09f;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form__submit:hover {
    cursor: pointer;
    background-color: rgba(247, 137, 153, 0.986);
}

.message {
    resize: none;
    margin-top: 10px;
    padding: 1em 0.4em;
}

.form__input:focus~.form__line,
.form__input:not(:placeholder-shown)~.form__line {
    transform: scale(1);
}

@media(max-width: 766px) {
    nav a{
        width: 80px;
        text-align: center;
        font-size: 1.2rem;
        padding: 30px 10px;
    }
    ul {
        padding: 0;
    }

    .form {
        transform: scale(0.8);
        height: 80vh;
    }

}