@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    /* background-color: #f7dde7; */
    background-image: url('/src/4526242.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* Nav menu */

nav ul{
    background-color: #73c09f;
    width: 100%;
    list-style: none;
    text-align: center;
    position: fixed;
    margin:0;
}
nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    color: black;
    background-color: rgba(247, 137, 153, 0.986);
}

main{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* contenido */

.info-content {
    height: 100vh;
    text-align: center;
    width: 600px;
    padding: 70px 20px 50px;
    align-items: center;
    background-color: rgb(241, 240, 241);
 }

span{
    color: rgb(250, 166, 180);
    font-weight: bold;
}

hr{
    background-color: black;
    border: none;
    margin-top: 50px;
}

.info-content p{
    margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}

.info-content a{
    margin: 0 auto;
}
.imagen{
    width: 400px;
    height: 400px;
    border-radius: 200px;
 }

 .sencond-section{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .second-content{
     height: 160vh;
     background-color: #73c09f;
 }


 .second-content a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    width: 150px;
    margin: 100px 0px;
    border-radius: 10px;
    background-color: rgba(247, 137, 153, 0.986);
 }

 .second-content a:hover{
    background-color: rgba(252, 124, 145, 0.986);
}

.second-content img{
    width: 400px;
    height: 300px;
}
.second-content p{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.bold{
    font-weight: bold;
}



 @media(max-width: 768px){
     .info-content{
        width: 100vh;
        padding: 60px 0px;
        height: 100vh;
     }
     .info-content h1{
         margin-top: 40px;
     }
     .info-content p{
        font-size: 1.3rem;
        width: 70%;
     }
     .info-content img{
         max-width: 400px;
     }
     .second-content{
         height: 150%;
     }
     nav a{
         width: 80px;
         text-align: center;
         font-size: 1.2rem;
         padding: 30px 10px;
     }

     ul{
         padding: 0;
     }
     main{
         margin: none;
     }
 }