@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background:lightsalmon;
	font-family: 'Poppins', sans-serif;
}

.body__form{
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(2, 116, 81); */
    background: lightsalmon;
    display: flex;
    height: 100vh;
    margin-bottom: 20vh;
}


.nav{
    background-color: #3d3333;
    height: 80px;
    color:white;
}

.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}



.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color:white;
    font-weight: bold;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .3s;
}

.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

.form{
    background: #fff;
    margin: 75px auto;
    width: 90%;
    height: 600px;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;
}

.form__title{
    font-size: 3em;
    margin-bottom: .5em;
}

.form__paragraph{
    font-weight: 300;
}

.form__link{
    font-weight: 400;
    color:  black;
}

.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: #5757577e;
}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form__input:focus + .form__label, .form__input:not(:placeholder-shown)+ .form__label{
    transform: translateY(-12px) scale(.95);
    transform-origin: left top;
    /* color:  rgb(2, 116, 81); */
    color: lightsalmon;
    
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit{
    /* background:  rgb(2, 116, 81); */
    background: lightsalmon;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding: .8rem 0;
    border: none;
    border-radius: 0.5rem;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    /* background-color: rgb(2, 116, 81); */
    background-color: lightsalmon;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
.form__submit:hover{
    cursor: pointer;
}
.message{
    resize: none;
    padding:1.8em 0.4em;
}

.form__input:focus ~ .form__line, .form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}



@media (max-width: 1081px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    
    .nav__menu{
        position: fixed;
        top:150px;
        bottom: 0;
        background: rgb(248, 201, 182);
        width: 100%;
        left:0;
        font-size: 5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.65s ease-in-out;
        z-index: 1;
    }
    .nav__input:checked + .nav__menu{
        
        clip-path: circle(100% at center);
    }
    .form{
        transform: scale(2);
        margin: 450px auto;
    }
    .nav{
        height: 150px;
    }
    .nav__logo, .nav__label{
        transform: scale(2);
    }
    .nav__item{
        color:black;
    }
}