@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background:rgb(43, 42, 42) ;
	font-family: 'Poppins', sans-serif;
}

.main{
    font-family: 'Roboto', sans-serif;
    background: white;
}
/* NAV BAR */


.nav{
    background-color: #f5576c;
    height: 80px;
    color:white;
}

.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
	font-family: 'Poppins', sans-serif;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}



.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color:white;
    font-weight: bold;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .3s;
}

.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}




/* Galeria */
.title{
	text-align: center;
	font-size: 4rem;
	color: rgb(245, 87, 108);
	padding: .8em 0 .4em;
}
.gallery{
	padding-bottom: 3em;
	padding-top: 1em;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: 300px;
	grid-template-areas: 
	"img1 img3 img2 img2"
	"img1 img3 img2 img2"
	"img4 img4 img6 img5"
	"img4 img4 img6 img5";
	gap: .8em;
}

.gallery__picture{
	position: relative;
	cursor: pointer;
	border: solid 2px rgba(0, 0, 0, 0.144);
	border-radius: 30px;
	overflow: hidden;
}

.gallery__picture::before{
	content: "Descripcion";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(245, 87, 108, 0.712);
	transform: translate(101%);
	transition: transform .5s;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}

.gallery__picture:hover::before{
	transform: translate(0);
	font-weight: bold;
}
.g1{
	grid-area: img1;
	content: "imagen 1";
}

.g2{
	grid-area: img2;
}

.g3{
	grid-area: img3;
}

.g4{
	grid-area: img4;
}

.g5{
	grid-area: img5;
}

.g6{
	grid-area: img6;
}

.gallery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Responsive Menu */
@media (max-width: 1081px){
	.title{
		font-size: 5rem;
		padding: .8rem 0 .4rem;
	}
	.gallery{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"img1 img1"
		"img1 img1"
		"img2 img4"
		"img2 img4"
		"img5 img6"
		"img5 img6"
		"img3 img3"
		"img3 img3" 
		;
	}
	.gallery__picture:hover::before{
		font-size: 3rem;
		font-weight: bold;
	}

    .nav__label{
        display: block;
        cursor: pointer;
    }
    
    .nav__menu{
        position: fixed;
        top:150px;
        bottom: 0;
        background: rgb(248, 201, 182);
        width: 100%;
        left:0;
        font-size: 5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.65s ease-in-out;
        z-index: 1;
    }
    .nav__input:checked + .nav__menu{
        
        clip-path: circle(100% at center);
    }
    .form{
        transform: scale(2);
    }
    .nav{
        height: 150px;
    }
    .nav__logo, .nav__label{
        transform: scale(2);
    }
    .text{
        font-size: 8rem;
    }
    .cajon{
        height: 200px;
    }
    
    .nav__item{
        color:black;
    }
}