@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: lightsalmon;
}

.nav{
    background-color: #3d3333;
    height: 80px;
    color:white;
}

.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}



.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color:white;
    text-decoration: none;
    
    font-weight: bold;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .3s;
}

.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

.cajon{
    height: 90px;
    background-color:lightsalmon;
    padding:10px;
}
.text{
    display: flex;
    margin:10px auto;
    font-family: monospace;
    font-size: 2rem;
    white-space: nowrap;
    border-right: 4px  solid;
    width: 8ch;
    /* font-size: xx-large; */
    animation: typing  2s steps(8), blink .5s infinite step-end alternate ;
    overflow: hidden;
}

@keyframes typing{
    from{ width: 0;}
}

@keyframes blink {
    50%{ border-color: transparent;}
}

@media (max-width: 1081px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    
    .nav__menu{
        position: fixed;
        top:150px;
        bottom: 0;
        background: rgb(248, 201, 182);
        width: 100%;
        left:0;
        font-size: 5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        z-index: 1;
    }
    .nav__input:checked + .nav__menu{
        
        clip-path: circle(100% at center);
    }
    .form{
        transform: scale(2);
    }
    .nav{
        height: 150px;
    }
    .nav__logo, .nav__label{
        transform: scale(2);
    }
    .text{
        font-size: 8rem;
    }
    .cajon{
        height: 200px;
    }
    
    .nav__item{
        color:black;
    }
}
