@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}
.main{
    font-family: 'Roboto', sans-serif;
    background: lightsalmon;
}

.nav{
    background-color: #f5576c;
    height: 80px;
    color:white;
}

.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}



.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color:white;
    font-weight: bold;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .3s;
}

.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

/* 

    TEXTO 

*/
.cajon{
    height: 90px;
    background-color:lightsalmon;
    padding:10px;
}
.text{
    display: flex;
    margin:10px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    border-right: 4px  solid;
    width: 20.8ch;
    animation: typing  2s steps(23), blink .5s infinite step-end alternate ;
    overflow: hidden;
}

@keyframes typing{
    from{ width: 0;}
}

@keyframes blink {
    50%{ border-color: transparent;}
}

/* Botones */


.gallery__btn{
    
    margin: 30px auto;
    justify-content: center;
    width: 180px;
    height: 100px;
    background:#f5576c;
    border-radius: 30px;
    align-items: center;
}

.btn{
    color: white;
    padding: 30px 40px;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* Landing Page */


.hero{
    background-image: linear-gradient(to top, rgba(255, 8, 70, 0.65) 0%, rgba(255, 177, 153, 0.65) 100%);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 4rem;
}

.textos-hero p{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background:  #ffffff  ;
    border-radius: 1rem;
    color: #f5576c;
    font-weight: bold;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor, .wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin:auto;
    padding: 0 0 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.titulo.left{
    text-align: left;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify ;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-color: #f5576c;
    padding: 12px 19px;
    border-radius: 20px;
    color: white;
}

/* info */

.info{
    background: #f5576c;
    color: white;
}

/* Cards */

.cards{
    margin-top: 20px;
}
.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 390px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    transform: scale(1.07);
    cursor: pointer;
}

.card img{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card h3{
    font-size: 25px;
    padding-bottom: 10px;
}
.card p{
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

/* Galeria */

.galeria-contenedor{
    width: 90%;
    overflow: hidden;
    margin:auto;
    padding: 0 0 80px 0;
}

.galeria-cont{
    filter: blur(2.5px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    cursor: pointer;
    overflow: hidden;
}

.galeria{
    background: #f2f2f2;
    max-width: none;
    width: 100%;
}
.galeria h2{
    padding-top: 20px;
    font-weight: bold;
}
/* Info 2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}
.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}

.last-section a{
    margin-top: 20px;
}


/* Footer */

footer{
    background: #f5576c;
    color: white;
}

/* Responsive Menu */



@media (max-width: 1081px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    
    .nav__menu{
        position: fixed;
        top:150px;
        bottom: 0;
        background: rgb(248, 201, 182);
        width: 100%;
        left:0;
        font-size: 5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.65s ease-in-out;
        z-index: 1;
    }
    .nav__input:checked + .nav__menu{
        
        clip-path: circle(100% at center);
    }
    .form{
        transform: scale(2);
    }
    .nav{
        height: 150px;
    }
    .nav__logo, .nav__label{
        transform: scale(2);
    }
    .text{
        font-size: 8rem;
    }
    .cajon{
        height: 200px;
    }
    
    .nav__item{
        color:black;
    }
}