@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* transform: scale(1); */
}

main{
    font-family: 'Poppins', sans-serif; 
    position: relative;
    transform: scale(1.4);
    background-color:  rgb(248, 233, 235);
}

/* Nav bar */

.nav{
    background-color: #f5576c;
    height: 80px;
    color:white;
}

.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}



.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color:white;
    font-weight: bold;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .3s;
}

.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

/* Crono */
.circle{
    font-weight: bold;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    z-index: 1;
    color: #fff;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle::before{
    content: '';
    font-weight: bold;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
    top:  calc(50% - 80px);
    background-color: #f5576c;
}

.seconds-sphere{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: none;
    transform: translateY(-60px);
}

@keyframes rotacion {
    from {
        transform: rotate(-90deg) translateX(60px);
    }

    to {
        transform: rotate(270deg) translateX(60px);
    }
}

.buttons {
    margin-top: 10px;
    display: inline-flex;
}

.paused{
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #fff;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

.running{
    border-style: double;
    border-width: 0 0 0 10px;
}

.stop{
    background-color: #fff;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

@media (max-width: 1081px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    
    .nav__menu{
        position: fixed;
        top:150px;
        bottom: 0;
        background: #f5576c;
        width: 100%;
        left:0;
        font-size: 5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.65s ease-in-out;
        z-index: 1;
    }
    .nav__input:checked + .nav__menu{
        
        clip-path: circle(100% at center);
    }
    .nav{
        height: 150px;
    }
    .nav__logo, .nav__label{
        transform: scale(2);
    }
    .nav__item{
        color:black;
    }
}